<%-include('header')-%>
<%- include('navbar') -%>
  <div class="heading" style="margin-top: 8%;"><span>CONTACT US FROM HERE</span></div>
  <div id="line"></div>
<%- include('contact') -%>
<%- include('footer') -%>